.advertisement{
    padding-top: 12px;
    padding-bottom: 12px;
}

.advertisement .image_field{
    padding-left: 0;
    padding-right: 0;
}

.advertisement .image_field img{
    border: solid 2px white;
}