
body{
    background-color: rgb(15, 44, 56);
    /* background-image: url("/assets/image/background/opacity_10_rotated_15.png");
    background-size: 200px 200px;
    width: 100vw;
    height: 100vh;
    background-size: contain; */
}

body .background_image {
    position: fixed;
    top: 0;
    left: 0;
    width: 150vw;
    height: 150vh;
    background-image: url("/assets/image/background/opacity_10_rotated_15_and_zoomed.png");
    /* background-repeat: no-repeat; */
    background-size: contain;
    background-position: center;
    /* transform: rotate(15deg); */
    z-index: -1;
    /* pointer-events: none; */
}


.free_margin_bottom{
    margin-bottom: var(--mb);
}





.line_btw_header_navbar{
    background-color: rgb(226, 226, 226);
    width: 100%;
    height: 3px;
}

.header_next_navbar_outer{
    background-color: rgb(112, 181, 223);
}





.main_container_outer_row{
    padding: 12px;
}

.main_container_inner_row{
    padding: 8px;

    background-color: rgb(30, 80, 102);
    border: solid 3px rgb(44, 114, 144);
}



.each_section .each_section_design{
    border: solid 2px rgb(7, 175, 247);
    border-radius: 8px;

    background-color: rgb(2, 114, 162);
}

.each_section .each_section_design_white_border{
    border: solid 2px rgb(255, 255, 255);
    border-radius: 8px;
}



.each_section .each_content{
    margin-top: var(--mt);
    margin-bottom: var(--mb);

    border: solid var(--br_size) white;
    border-radius: 8px;
}

/* .each_section .each_content_border_blue{
    margin-top: var(--mt);
    margin-bottom: var(--mb);

    border: solid var(--br_size) rgb(0, 159, 227);
    border-radius: 8px;
} */




.line_for_footer{
    background-color: white;
    width: 100%;
    height: 2px;
}







/* İNPUTLAR'DA TASARIMI BOZAN DURUMLARI İPTAL ETMEK İÇİN */

    /* Number İnput'unun yukarı aşağı ikonlarını kaldırmak... */

            /* Chrome, Safari, Edge ve Opera için */
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

            /* Firefox için */
        input[type="number"] {
            appearance: textfield;
            -moz-appearance: textfield;
            -webkit-appearance: none;
        }





    /* İnput'larda daha önce girilmiş verilerden dolayı otomatik gelen Autofill verilerinin INPUT'ta oluşturduğu beyaz arka planı kaldırma... */

        /* Chrome ve Safari için */
        input:-webkit-autofill {
            box-shadow: 0 0 0px 1000px rgb(2, 122, 173) inset !important;
            -webkit-text-fill-color: white !important;
        }

        /* Firefox için */
        input:-moz-autofill {
            box-shadow: 0 0 0px 1000px rgb(2, 122, 173) inset !important;
            color: white !important;
        }

        /* Edge için */
        input:-ms-input-placeholder {
            box-shadow: 0 0 0px 1000px rgb(2, 122, 173) inset !important;
            color: white !important;
        }

/* İNPUTLAR'DA TASARIMI BOZAN DURUMLARI İPTAL ETMEK İÇİN */






/* ÖZELLEŞTİRİLMİŞ TITLE */

    .special_title {
        position: relative;
        display: inline-block;
        font-size: 24px;
        font-weight: bold;
        padding: 10px;
        overflow: hidden;
        color: white;
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8); /* Yazı gölgesi eklendi */
    }

    .half_background_first_blue, .half_background_second_blue, .half_background_brown {
        position: relative;
        z-index: 1;
    }

    .half_background_first_blue::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: rgb(112, 181, 223);
        z-index: -1;
    }

    .half_background_second_blue::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: rgb(7, 175, 247);
        z-index: -1;

        border: solid 1px rgb(0, 0, 0);
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }


    .half_background_brown::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: rgb(242, 133, 0);
        z-index: -1;
    }

/* ÖZELLEŞTİRİLMİŞ TITLE */







/* ÖZELLEŞTİRİLMİŞ TEXTAREA */

    #textarea_auto_resize {
        width: 100%;
        min-height: 100px; /* Minimum yükseklik */
        /* max-height: 300px; */
        resize: none; /* Kullanıcı tarafından manuel boyutlandırmayı devre dışı bırakır */
        overflow-y: hidden; /* Kaydırma çubuğunu gizler */
        /* padding: 10px; */
        box-sizing: border-box;
        font-size: 16px;
        line-height: 1.5; /* Satır aralığı */
    }

/* ÖZELLEŞTİRİLMİŞ TEXTAREA */