.home_trailer_cards_for_other_movies .rating_field ul{
    border-bottom-left-radius: 5px;
}

.home_trailer_cards_for_other_movies ul li{
    color: orange;
}

.home_trailer_cards_for_other_movies .each_trailer_card
{
    border: solid 1px rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    background: linear-gradient(45deg, #536073 0%, #7490ae 100%);
}

.home_trailer_cards_for_other_movies .each_trailer_card a {
  text-decoration: none;
}

.home_trailer_cards_for_other_movies p {
    color: white;

    overflow: hidden;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.home_trailer_cards_for_other_movies .movie_title_field_top {
  background-color: #456ca2;
}

.home_trailer_cards_for_other_movies h6 {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
}

@media (min-width: 1200px)
{
    .home_trailer_cards_for_other_movies img {
        border-top-left-radius: 5px;
    }

    .home_trailer_cards_for_other_movies p {    
        height: 105px !important;
    }

    .home_trailer_cards_for_other_movies .trailer_card_summary {    
      border: solid 1px white;
      border-left: none;
      border-bottom: none;
      border-right: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px)
{

    .home_trailer_cards_for_other_movies img {
        border-top-left-radius: 5px;
    }

    .home_trailer_cards_for_other_movies p {    
        height: 115px;
    }

    .home_trailer_cards_for_other_movies .trailer_card_summary {    
      border: solid 1px white;
      border-left: none;
      border-bottom: none;
      border-right: none;
    }
}

@media (min-width: 768px)
{
    .home_trailer_cards_for_other_movies img {
        border-radius: none;
    }

    .home_trailer_cards_for_other_movies p {    
        height: 105px;
    }

    .home_trailer_cards_for_other_movies .movie_title_field_top {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

@media (min-width: 576px) and (max-width: 767px)
{

  .home_trailer_cards_for_other_movies .movie_title_field_top {
    border-top-left-radius: 5px;
  }

  .home_trailer_cards_for_other_movies p {    
      height: 155px;
      border: solid 1px red;
  }

  .home_trailer_cards_for_other_movies .rating_field_top ul{
      border-top-right-radius: 5px;
  }

  .home_trailer_cards_for_other_movies img {
      border-bottom-left-radius: 5px;
  }
}

@media (max-width: 575px)
{
  .home_trailer_cards_for_other_movies p {    
    height: 140px;
  }

  .home_trailer_cards_for_other_movies .movie_title_field_top {
    border-top-left-radius: 5px;
  }

  .home_trailer_cards_for_other_movies .rating_field_top ul{
      border-top-right-radius: 5px;
  }

  .home_trailer_cards_for_other_movies img {
      border-bottom-left-radius: 5px;
  }
}

.home_trailer_video iframe {
  border: solid 1px rgba(255, 255, 255, 0.4);
}