@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");


/* .content{
  padding-top: 45px;
  padding-bottom: 20px;
} */

/* .button_container{
    width: 176px;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 40px;
} */

.login_form_field .button_su{
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 3px;

  width: 100%;

  border: solid 2px white;
  /* margin-bottom: 30px; */
}

.login_form_field .su_button_circle{
  background-color: rgb(255, 255, 255);
  border-radius: 1000px;
  position: absolute;
  left:0;
  top:0;
  width: 0px;
  height: 0px;
  margin-left: 0px;
  margin-top: 0px;
  pointer-events: none;
  /*animation-timing-function: ease-in-out; */
}

.login_form_field .button_su_inner{
    display: inline-block;
    background: rgb(0, 159, 227);
    color: #F4F4F4;
    font-size: 16px;
    /* font-weight: normal; */
    /* width: 132px; */
    width: 100%;
    text-align: center;
    /* border-radius: 1px; */
    transition: 400ms;
    text-decoration: none;

    padding-top: var(--pdt);
    padding-bottom: var(--pdb);

    z-index: 100000;

    font-weight: bold;
}

.login_form_field .button_text_container{
   position:relative;
   z-index: 10000;
}

.login_form_field .explode-circle {
   animation: login_btn_explode 0.5s forwards;

}

.login_form_field .desplode-circle{
   animation: login_btn_desplode 0.5s forwards;
}

@keyframes login_btn_explode {
    0% {
      width: 0px;
      height: 0px;
      margin-left: 0px;
      margin-top: 0px;
      background-color: rgba(255, 255, 255, 0.5);
  
    }
    100% {
      width: 500px;
      height: 500px;
      margin-left: -300px;
      margin-top: -300px;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }
  
  @keyframes login_btn_desplode {
    0% {
      width: 500px;
      height: 500px;
      margin-left: -300px;
      margin-top: -300px;
      background-color: rgba(255, 255, 255, 0.5);
    }
    100% {
      width: 0px;
      height: 0px;
      margin-left: 0px;
      margin-top: 0px;
      background-color: rgba(255, 255, 255, 0.5);
    }
  }