@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");


/* .content{
  padding-top: 45px;
  padding-bottom: 20px;
} */

/* .button_container{
    width: 176px;
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 40px;
} */

.register_form_field .button_su{
  overflow: hidden;
  position: relative;
  display: inline-block;
  border-radius: 3px;

  width: 100%;

  border: solid 2px white;
  /* margin-bottom: 30px; */
}

.register_form_field .su_button_circle{
  background-color: rgb(255, 255, 255);
  border-radius: 1000px;
  position: absolute;
  left:0;
  top:0;
  width: 0px;
  height: 0px;
  margin-left: 0px;
  margin-top: 0px;
  pointer-events: none;
  /*animation-timing-function: ease-in-out; */
}

.register_form_field .button_su_inner{
    display: inline-block;
    background: rgb(27, 75, 97);
    color: #F4F4F4;
    font-size: 16px;
    /* font-weight: normal; */
    /* width: 132px; */
    width: 100%;
    text-align: center;
    /* border-radius: 1px; */
    transition: 400ms;
    text-decoration: none;

    padding-top: var(--pdt);
    padding-bottom: var(--pdb);

    z-index: 100000;
}

.register_form_field .button_text_container{
   position:relative;
   z-index: 10000;
}

.register_form_field .explode-circle {
  animation: register_btn_explode 0.5s forwards;

}

.register_form_field .desplode-circle{
  animation: register_btn_desplode 0.5s forwards;
}

@keyframes register_btn_explode {
   0% {
     width: 0px;
     height: 0px;
     margin-left: 0px;
     margin-top: 0px;
     background-color: rgba(255, 255, 255, 0.4);
 
   }
   100% {
    width: 800px;
    height: 800px;
    margin-left: -400px;
    margin-top: -400px;
     background-color: rgba(255, 255, 255, 0.4);
   }
 }
 
 @keyframes register_btn_desplode {
   0% {
    width: 800px;
    height: 800px;
    margin-left: -400px;
    margin-top: -400px;
     background-color: rgba(255, 255, 255, 0.4);
   }
   100% {
     width: 0px;
     height: 0px;
     margin-left: 0px;
     margin-top: 0px;
     background-color: rgba(255, 255, 255, 0.4);
   }
 }